<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Restaurantes get post"></Label>
</ActionBar>
<StackLayout class="input-field">
        <Button text="Presioname" (tap)="test()" height="10%" width="100%" ></Button>
        <TextField #secondTx [(ngModel)]="getData" autocorrect="false" returnKeyType="done"
        class="input input-border" height="10%" width="100%"></TextField>
        <ListView [items]="items" marginRight="-2">
            <ng-template tkListItemTemplate let-item="item">
                <android>
                    <Label text="{{ item.nombre }}" ></Label>
                </android>
            </ng-template>
        </ListView>
</StackLayout>
