<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Restaurantes"></Label>
</ActionBar>
 
<GridLayout class="page page-content">
    <ListView [items]="items" class="list-group">
        <ng-template let-item="item">
            
            <!--<Label [nsRouterLink]="[item.id]" [text]='item.id + ": "+ item.nombre' class="list-group-item"></Label>-->
            <Image [nsRouterLink]="[item.id]" [src]="item.imagen_destacada" stretch="none" class="img-rounded p-l-15 p-r-15 p-t-15"></Image>
            
        </ng-template>
    </ListView>


 
